/StacksAndQueues/StacksAndQueuesExercises/BalancedParentheses/obj
/StacksAndQueues/StacksAndQueuesExercises/BalancedParentheses/bin
/StacksAndQueues/StacksAndQueuesExercises/BasicQueueOperations/bin
/StacksAndQueues/StacksAndQueuesExercises/BasicQueueOperations/obj
/StacksAndQueues/StacksAndQueuesExercises/Cooking/bin
/StacksAndQueues/StacksAndQueuesExercises/Cooking/obj
/StacksAndQueues/StacksAndQueuesExercises/Crossroads/bin
/StacksAndQueues/StacksAndQueuesExercises/Crossroads/obj
/StacksAndQueues/StacksAndQueuesExercises/CupsAndBottles/bin
/StacksAndQueues/StacksAndQueuesExercises/CupsAndBottles/obj
/StacksAndQueues/StacksAndQueuesExercises/FashionBoutique/bin
/StacksAndQueues/StacksAndQueuesExercises/FashionBoutique/obj
/StacksAndQueues/StacksAndQueuesExercises/FastFood/bin
/StacksAndQueues/StacksAndQueuesExercises/FastFood/obj
/StacksAndQueues/StacksAndQueuesExercises/KeyRevolver/bin
/StacksAndQueues/StacksAndQueuesExercises/KeyRevolver/obj
/StacksAndQueues/StacksAndQueuesExercises/MaximumAndMinimumElement/bin
/StacksAndQueues/StacksAndQueuesExercises/MaximumAndMinimumElement/obj
/StacksAndQueues/StacksAndQueuesExercises/SimpleTextEditor/bin
/StacksAndQueues/StacksAndQueuesExercises/SimpleTextEditor/obj
/StacksAndQueues/StacksAndQueuesExercises/SongsQueue/bin
/StacksAndQueues/StacksAndQueuesExercises/SongsQueue/obj
/StacksAndQueues/StacksAndQueuesExercises/StackAndQueuesEx2/bin
/StacksAndQueues/StacksAndQueuesExercises/StackAndQueuesEx2/obj
/StacksAndQueues/StacksAndQueuesExercises/TruckTour/bin
/StacksAndQueues/StacksAndQueuesExercises/TruckTour/obj
/StacksAndQueues/StacksAndQueuesLab/HotPotato/bin
/StacksAndQueues/StacksAndQueuesLab/HotPotato/obj
/StacksAndQueues/StacksAndQueuesLab/MatchingBrackets/bin
/StacksAndQueues/StacksAndQueuesLab/MatchingBrackets/obj
/StacksAndQueues/StacksAndQueuesLab/PrintEvenNumbers/bin
/StacksAndQueues/StacksAndQueuesLab/PrintEvenNumbers/obj
/StacksAndQueues/StacksAndQueuesLab/ReverseStrings/bin
/StacksAndQueues/StacksAndQueuesLab/ReverseStrings/obj
/StacksAndQueues/StacksAndQueuesLab/SimpleCalculator/bin
/StacksAndQueues/StacksAndQueuesLab/SimpleCalculator/obj
/StacksAndQueues/StacksAndQueuesLab/StacksAndQueue2/bin
/StacksAndQueues/StacksAndQueuesLab/StacksAndQueue2/obj
/StacksAndQueues/StacksAndQueuesLab/StackSum/bin
/StacksAndQueues/StacksAndQueuesLab/StackSum/obj
/StacksAndQueues/StacksAndQueuesLab/Supermarket/bin
/StacksAndQueues/StacksAndQueuesLab/Supermarket/obj
/StacksAndQueues/StacksAndQueuesLab/TrafficJam/bin
/StacksAndQueues/StacksAndQueuesLab/TrafficJam/obj
/MultiDimensionalArrays/JaggedArrayModification/bin
/MultiDimensionalArrays/JaggedArrayModification/obj
/MultiDimensionalArrays/MultidimensionalArrays/bin
/MultiDimensionalArrays/MultidimensionalArrays/obj
/MultiDimensionalArrays/PascalTriangle/bin
/MultiDimensionalArrays/PascalTriangle/obj
/MultiDimensionalArrays/PrimaryDiagonal/bin
/MultiDimensionalArrays/PrimaryDiagonal/obj
/MultiDimensionalArrays/SpiralMatrix/bin
/MultiDimensionalArrays/SpiralMatrix/obj
/MultiDimensionalArrays/SquareWithMaximumSum/bin
/MultiDimensionalArrays/SquareWithMaximumSum/obj
/MultiDimensionalArrays/SumMatrixColumns/bin
/MultiDimensionalArrays/SumMatrixColumns/obj
/MultiDimensionalArrays/SumMatrixElements/bin
/MultiDimensionalArrays/SumMatrixElements/obj
/MultiDimensionalArrays/SymbolInMatrix/bin
/MultiDimensionalArrays/SymbolInMatrix/obj
/MultiDimensionalArrays/DiagonalDifference/bin
/MultiDimensionalArrays/DiagonalDifference/obj
/MultiDimensionalArrays/SquaresInMatrix
